{% extends 'base.html.twig' %}

{% block title %}Новая оценка{% endblock %}

{% block body %}
    <h1>Добавить новую оценку</h1>

    {{ include('smarks/_form.html.twig') }}

    <a href="{{ path('app_smarks_index') }}">вернуться</a>
{% endblock %}
