{% extends 'base.html.twig' %}

{% block title %}Школа{% endblock %}

{% block body %}
    <h1>Школа</h1>
    <a href="/school/classes">Классы</a>
    <a href="/school/subjects">Предметы</a>
    <a href="/school/students">Ученики</a>
    <a href="/school/teachers">Учителя</a>
    <a href="/school/marks">Оценки</a><br>
    <a href="/school/averageMark">Вычислить успеваемость</a>
{% endblock %}
